@root-class-name: ~"newfoundland-root";

.@{root-class-name} 
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	.info-window {
		margin: 0px 0px 0px 0px;
		background: rgba(255, 255, 255, 0.95);
		padding: 5px;
		width: 200px;
		box-sizing: border-box;
		
		* {
			box-sizing: border-box;
		}
	}
}

