@root-class-name: ~"newfoundland-root";

.@{root-class-name} 
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	@window-bg-alpha: 0.95;
	@tip-height: 8px;
	@base-font-size: 12px;
	@map-button-size: 35px;
	@dir-images: "images";
	
	* {
		box-sizing: border-box;
	}
	
	.map {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 1;
	}
	
	.buttons
	{
		position: absolute;
		overflow: visible;
		bottom: 25px;
		right: 10px;
		margin: 0px;
		padding: 0px;
		text-align: right;
		z-index: 2;
			
		.button {
			position: relative;
			overflow: hidden;
			float: left;
			width: @map-button-size;
			height: @map-button-size;
			margin: 0px 5px;
			background-color: rgba(255, 255, 255, @window-bg-alpha);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: (@map-button-size - 15) (@map-button-size - 15);
			border-radius: (@map-button-size/2);
			box-shadow: 1px 1px 5px #aaa;
			cursor: pointer;
		}
		
		.button.loading {
			background-image: url("@{dir-images}/spinner.gif");
		}
		
		.button:active {
			opacity: 0.8;
		}
		
		.button.reset {
			background-image: url("@{dir-images}/icon_view_all.png");
		}
		
		.button.resetToUser {
			background-image: url("@{dir-images}/icon_view_nearby.png");
		}
	}

	.search-container 
	{
		position: absolute;
		overflow: hidden;
		width: 100%;
		left: 0px;
		top: 0px;
		padding: 10px;
		z-index: 2;
		
		.search {
			position: relative;
			overflow: hidden;
			width: 100%;
			padding: 10px;
			background: rgba(255, 255, 255, @window-bg-alpha);
			background-image: url("@{dir-images}/icon_search.png");
			background-repeat: no-repeat;
			background-size: 20px 20px;
			background-position: right 10px center;
			box-shadow: 1px 1px 5px #aaa;
			border: none;
			font-size: (@base-font-size+5);
			font-family: sans-serif;
			outline: none;
		}
		
		@result-font-size: @base-font-size;
		.results 
		{
			position: relative;
			overflow: auto;
			width: 100%;
			max-height: 100px;
			padding: 5px 0px;
			background: rgba(255, 255, 255, @window-bg-alpha);
			box-shadow: 1px 1px 5px #aaa;
			margin: 5px 0px 0px 0px;
			font-family: sans-serif;
			font-size: @result-font-size;
			color: #555;
			display: none;
			
			> ul {
				margin: 0px;
				padding: 0px;
			}
			
			.result {
				position: relative;
				overflow: hidden;
				width: 100%;
				padding: 10px 10px;
				cursor: pointer;
				border-bottom: 1px dotted #ddd;
				
				.match {
					font-weight: bold;
					font-size: (@result-font-size+2);
					color: #000;
				}
			}
			
			.result:last-child {
				border-bottom: none;
			}
			
			.result:hover {
				color: blue;
				
				.match {
					color: blue;
				}
			}
		}
	}

	.info-window 
	{
		margin: 0px 0px 0px 0px;
		width: 250px;
		font-size: @base-font-size;
		font-family: sans-serif;
		
		.tip {
			position: absolute;
			overflow: hidden;
			width: 100%;
			height: @tip-height;
			left: 0px;
			top: 0px;
			background: url("@{dir-images}/info_window_tip.png") no-repeat center center;
			opacity: @window-bg-alpha;
			z-index: 2;
		}
		
		.content 
		{
			position: absolute;
			overflow: hidden;
			width: 100%;
			left: 0px;
			top: (@tip-height - 1);
			background: rgba(255, 255, 255, @window-bg-alpha);
			padding: 10px;
			box-shadow: 1px 1px 5px #aaa;
			z-index: 1;
			
			.name {
				font-weight: bold;
				font-size: (@base-font-size + 2);
				margin-bottom: 10px;
			}
			
			.address {
				margin-bottom: 5px;
			}
			
			.zoom {
				position: absolute;
				overflow: hidden;
				width: 15px;
				height: 15px;
				top: 5px;
				right: 5px;
				background: url("@{dir-images}/icon_zoom.png") no-repeat center center;
				background-size: contain;
				cursor: pointer;
			}
		}
	}
}

