@root-class-name: ~"newfoundland-root";

.@{root-class-name} 
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	
	@window-bg-alpha: 0.95;
	@tip-height: 8px;
	@base-font-size: 10px;
	@map-button-size: 35px;
	
	* {
		box-sizing: border-box;
	}
	
	.map {
		position: absolute;
		overflow: hidden;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		z-index: 1;
	}
	
	.reset {
		position: absolute;
		overflow: hidden;
		width: @map-button-size;
		height: @map-button-size;
		bottom: 25px;
		right: 10px;
		z-index: 2;
		background: rgba(255, 255, 255, @window-bg-alpha);
		border-radius: (@map-button-size/2);
		box-shadow: 1px 1px 5px #aaa;
		cursor: pointer;
	}
	
	.search-container 
	{
		position: absolute;
		overflow: hidden;
		width: 100%;
		left: 0px;
		top: 0px;
		padding: 10px;
		z-index: 2;
		
		.search {
			position: relative;
			overflow: hidden;
			width: 100%;
			padding: 10px;
			background: rgba(255, 255, 255, @window-bg-alpha);
			box-shadow: 1px 1px 5px #aaa;
			border: none;
			font-size: (@base-font-size+5);
			font-family: sans-serif;
			outline: none;
		}
		
		.results 
		{
			position: relative;
			overflow: auto;
			width: 100%;
			max-height: 110px;
			padding: 5px 0px;
			background: rgba(255, 255, 255, @window-bg-alpha);
			box-shadow: 1px 1px 5px #aaa;
			margin: 5px 0px 0px 0px;
			font-family: sans-serif;
			font-size: @base-font-size;
			display: none;
			
			> ul {
				margin: 0px;
				padding: 0px;
			}
			
			.result {
				position: relative;
				overflow: hidden;
				width: 100%;
				padding: 10px 10px;
				cursor: pointer;
				border-bottom: 1px dotted #ddd;
			}
			
			.result:last-child {
				border-bottom: none;
			}
			
			.result:hover {
				color: blue;
			}
		}
	}

	.info-window 
	{
		margin: 0px 0px 0px 0px;
		width: 250px;
		font-size: @base-font-size;
		font-family: sans-serif;
		
		.tip {
			position: absolute;
			overflow: hidden;
			width: 100%;
			height: @tip-height;
			left: 0px;
			top: 0px;
			background: url("images/info_window_tip.png") no-repeat center center;
			opacity: @window-bg-alpha;
			z-index: 2;
		}
		
		.content 
		{
			position: absolute;
			overflow: hidden;
			width: 100%;
			left: 0px;
			top: (@tip-height - 1);
			background: rgba(255, 255, 255, @window-bg-alpha);
			padding: 10px;
			box-shadow: 1px 1px 5px #aaa;
			z-index: 1;
			
			.name {
				font-weight: bold;
				font-size: (@base-font-size + 2);
				margin-bottom: 10px;
			}
			
			.address {
				margin-bottom: 5px;
			}
			
			.zoom {
				position: absolute;
				overflow: hidden;
				width: 15px;
				height: 15px;
				top: 5px;
				right: 5px;
				background: red;
				cursor: pointer;
			}
		}
	}
}

