<div class="map-container">
	<div class="map">&nbsp;</div>
	<div class="search-container">&nbsp;</div>
	<ul class="buttons">
		<li class="reset button" title="See All Locations">&nbsp;</li>
		<li class="resetToUser button" title="Show locations around me">&nbsp;</li>
	</ul>
</div>