<div class="map-container">
	<div class="map">&nbsp;</div>
	<div class="search-container">&nbsp;</div>
	<ul class="buttons">
		<li class="reset button">&nbsp;</li>
		<li class="resetToUser button">&nbsp;</li>
	</ul>
</div>